In [1]:
import pandas as pd
#import pyvips

In [2]:
df = pd.read_csv('./train.csv')
df

,Drug1_ID,Drug1,Drug2_ID,Drug2,Y
0,DB04571,CC1=CC2=CC3=C(OC(=O)C=C3C)C(C)=C2O1,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...,1
1,DB09536,O=[Ti]=O,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...,1
2,DB01600,CC(C(O)=O)C1=CC=C(S1)C(=O)C1=CC=CC=C1,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...,1
3,DB09000,CC(CN(C)C)CN1C2=CC=CC=C2SC2=C1C=C(C=C2)C#N,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...,1
4,DB11630,OC1=CC=CC(=C1)C-1=C2\CCC(=N2)\C(=C2/N\C(\C=C2)...,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...,1
...,...,...,...,...,...
134260,DB00437,OC1=NC=NC2=C1C=NN2,DB00524,CC1NC2=CC(Cl)=C(C=C2C(=O)N1C1=CC=CC=C1C)S(N)(=...,86
134261,DB00437,OC1=NC=NC2=C1C=NN2,DB01197,C[C@H](CS)C(=O)N1CCC[C@H]1C(O)=O,86
134262,DB00437,OC1=NC=NC2=C1C=NN2,DB00542,[H][C@@]1(CCC2=CC=CC=C2N(CC(O)=O)C1=O)N[C@@H](...,86
134263,DB00437,OC1=NC=NC2=C1C=NN2,DB00492,CCC(=O)O[C@@H](O[P@](=O)(CCCCC1=CC=CC=C1)CC(=O...,86
134264,DB00415,[H][C@]12SC(C)(C)[C@@H](N1C(=O)[C@H]2NC(=O)[C@...,DB00437,OC1=NC=NC2=C1C=NN2,86

In [3]:
print(df['Y'].value_counts()[0:10])

49    42592
47    24102
73    16509
75     6539
60     5945
70     5470
20     4352
16     3727
4      3526
6      2206
Name: Y, dtype: int64

In [4]:
# 75, 60, 70, 
a = df['Y']==75
b = df['Y']==73
c = df['Y']==70

df1 = pd.DataFrame(df[a], columns=['Drug1_ID', 'Drug1', 'Drug2_ID', 'Drug2', 'Y'])
df2 = pd.DataFrame(df[b], columns=['Drug1_ID', 'Drug1', 'Drug2_ID', 'Drug2', 'Y'])
df3 = pd.DataFrame(df[c], columns=['Drug1_ID', 'Drug1', 'Drug2_ID', 'Drug2', 'Y'])

In [5]:
list75_id = []
list75_smiles = []
for i in range(len(df1)):
    list75_id.append(df1['Drug1_ID'].iloc[i])
    list75_id.append(df1['Drug2_ID'].iloc[i])
    list75_smiles.append(df1['Drug1'].iloc[i])
    list75_smiles.append(df1['Drug2'].iloc[i])
    
list73_id = []
list73_smiles = []
for i in range(len(df2)):
    list73_id.append(df2['Drug1_ID'].iloc[i])
    list73_id.append(df2['Drug2_ID'].iloc[i])
    list73_smiles.append(df2['Drug1'].iloc[i])
    list73_smiles.append(df2['Drug2'].iloc[i])
    
list70_id = []
list70_smiles = []
for i in range(len(df3)):
    list70_id.append(df3['Drug1_ID'].iloc[i])
    list70_id.append(df3['Drug2_ID'].iloc[i])
    list70_smiles.append(df3['Drug1'].iloc[i])
    list70_smiles.append(df3['Drug2'].iloc[i])

In [6]:
# 중복 제거
list75_id = set(list75_id)
list75_id = list(list75_id)
list75_smiles = set(list75_smiles)
list75_smiles = list(list75_smiles)

list73_id = set(list73_id)
list73_id = list(list73_id)
list73_smiles = set(list73_smiles)
list73_smiles = list(list73_smiles)

list70_id = set(list70_id)
list70_id = list(list70_id)
list70_smiles = set(list70_smiles)
list70_smiles = list(list70_smiles)

In [7]:
print(len(list70_smiles))
print(len(list73_smiles))
print(len(list75_smiles))

992
1200
1030

In [36]:
col_name = ['filepath', 'Drug_ID', 'Drug_smiles', 'Y']
temp = []
temp.append(list70_id)
temp.append(list70_smiles)
list_df_70 = pd.DataFrame(temp).T

list_df_70['filepath'] = pd.Series() 
list_df_70['Y'] = 0


temp = []
temp.append(list73_id)
temp.append(list73_smiles)
list_df_73 = pd.DataFrame(temp).T

list_df_73['filepath'] = pd.Series() 
list_df_73['Y'] = 1


temp = []
temp.append(list75_id)
temp.append(list75_smiles)
list_df_75 = pd.DataFrame(temp).T

list_df_75['filepath'] = pd.Series() 
list_df_75['Y'] = 2

/Users/hayunlee/opt/anaconda3/envs/CUAI/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  import sys
/Users/hayunlee/opt/anaconda3/envs/CUAI/lib/python3.7/site-packages/ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
/Users/hayunlee/opt/anaconda3/envs/CUAI/lib/python3.7/site-packages/ipykernel_launcher.py:25: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [40]:
result = pd.concat([list_df_70,list_df_73, list_df_75], ignore_index=True)

In [43]:
result.to_csv('./lables.csv')